<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profilo Venditore</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<header>
  <h1>Profilo del Venditore</h1>
</header>
<main>
  <!-- Sezione informazioni venditore -->
  <section id="seller-info">
    <!-- Immagine del venditore -->
    <img src="styles/images/placeholder.png" alt="Foto del venditore" id="seller-photo">
    <div>
      <h2 th:text="${venditore.nome}">Nome del Venditore</h2>
      <p>
      </p>
<!--      TODO : apri la chat con il venditore-->
      <a th:href="@{/contatta/{idVenditore}(idVenditore=${venditore.id})}" class="btn">
        Contatta il Venditore
      </a>
    </div>
  </section>

  <!-- Sezione prodotti del venditore -->
  <section id="seller-products">
    <h3>Prodotti del Venditore</h3>
    <div id="product-list">
      </div>
  </section>
</main>
<footer>
</footer>
</body>
</html>
