/* Base styles */
body {
    background-color: #f5e6cc !important;
}

html {
    scrollbar-width: none; /* Nasconde le scrollbar su Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Nasconde le scrollbar sui browser basati su WebKit (Chrome, Safari) */
}


.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Footer (if needed) */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9em;
}
