body {
    background-color: #a8f1fb; /* Light teal background */
}
html {
    scrollbar-width: none; /* Hide scrollbars in Firefox 64+ */
}

html::-webkit-scrollbar {
    display: none; /* Hide scrollbars in WebKit browsers (Chrome, Safari) */
}

body {
    overflow: scroll; /* Allow scrolling */
}